<div class="container" ng-app="tamboApp">
    <div class="row" ng-controller="simulator">
        <div class="col-lg-8">
            <h1>Simule Aqui!</h1>
            <div class="simulator">
            </div>
            <div class="drop">
            </div>
        </div>
        <div class="options col-lg-4">
            <div class="row model">
            </div>
            <div class="row size">
            </div>
            <div class="row color">
            </div>
        </div>
    </div>
</div>
