<footer class="wide">
  p &copy; <a href="http://emporiotambo.com.br">Tambo</a> + <a href="http://invent.to">invent.to</a>. Estamos só começando :) Saiba mais <a href="http://projetogaleriatambo.wordpress.com/">aqui</a>. Sobre <a href="http://github.com/inventto/tambo">opensource</a> aqui.
</footer>
