// Place all the styles related to the artistas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artists{
  padding:2%;
  margin-top:-20px !important;
}
.thumbnail{
  margin:0 auto;
  text-align:center;
  max-width:100%;

}
.artistshow{
  height:500px;
  width:200px;
  text-align:center;
  padding:2%;
  margin:10px 20px 0px 0px;
}
.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}
#tools_artista_view > li{
text-align:center;
}
