// Place all the styles related to the artistas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artists{
  padding:2%;
  margin-top:-20px !important;
}
.thumbnail{
  margin-left:2%;
  width:20%;
  height:auto;
}
.artistshow{
  height:500px;
  text-align:center;
  padding:2%;
  margin:10px 20px 0px 0px;
}
