// Place all the styles related to the artistas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artists{
  padding:2%;
  margin-top:-20px !important;
}
.artista img{
  text-align:center;
}
